@import "normalize.css";
@tailwind utilities;
@import "tailwindcss/theme.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}
